/* Utils */
/* Base */
/* Base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jomolhari", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Components */
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 834px) {
  .container {
    max-width: 834px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* Layout */
.header {
  position: absolute;
  width: 100%;
}

.header-container {
  max-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 16px 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 834px) {
  .header-container {
    max-width: 834px;
    padding: 16px 32px 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #ffffff;
  background-color: transparent;
  cursor: pointer;
  width: 64px;
  height: 46px;
}

.header__logo-svg {
  padding: 0;
  width: 64px;
  height: 46px;
}

.burger-menu-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 834px) {
  .burger-menu-open {
    display: none;
  }
}

.icon-burger-open {
  width: 40px;
  height: 40px;
  stroke: #ffffff;
}

/* Navigation */
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
@media screen and (min-width: 1440px) {
  .nav__list {
    gap: 64px;
  }
}

@media screen and (max-width: 833px) {
  .nav__list {
    display: none;
  }
}
@media screen and (min-width: 834px) {
  .nav__link {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
}
.hero__container {
  max-width: 375px;
  min-height: 812px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #141a19;
  padding-top: 261px;
  padding-bottom: 32px;
  background-image: url("../images/hero/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: url("../images/hero/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 834px) {
  .hero__container {
    max-width: 834px;
    min-height: 1008px;
    padding-top: 358px;
    padding-bottom: 64px;
    background-image: url("../images/hero/hero-tablet@1x.jpg");
  }
}
@media screen and (min-width: 834px) and (min-device-pixel-ratio: 2), screen and (min-width: 834px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 834px) and (min-resolution: 192dpi), screen and (min-width: 834px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: url("../images/hero/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1440px) {
  .hero__container {
    max-width: 1440px;
    min-height: 800px;
    padding-top: 296px;
    padding-bottom: 100px;
    background-image: url("../images/hero/hero-desktop@1x.jpg");
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: url("../images/hero/hero-desktop@2x.jpg");
  }
}
.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  margin-bottom: 64px;
}
@media screen and (min-width: 834px) {
  .hero__title {
    font-size: 128px;
  }
}

.hero__title > span {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
}
@media screen and (min-width: 834px) {
  .hero__title > span {
    font-size: 48px;
  }
}

.hero__title::after {
  content: "Ukraine";
  font-weight: 400;
  font-size: 64px;
  line-height: 140%;
  letter-spacing: 0.01em;
  background: linear-gradient(2deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: rotateX(180deg) translateY(-136px);
          transform: rotateX(180deg) translateY(-136px);
  opacity: 0.3;
  position: absolute;
}
@media screen and (min-width: 834px) {
  .hero__title::after {
    font-size: 128px;
    -webkit-transform: rotateX(180deg) translateY(-265px);
            transform: rotateX(180deg) translateY(-265px);
  }
}

.hero__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding: 12px 52px;
  width: 174px;
  height: 48px;
  background-color: #394014;
  margin-bottom: 225px;
}
@media screen and (min-width: 834px) {
  .hero__link {
    z-index: 1;
    height: 54px;
    padding: 16px 52px;
    margin-bottom: 135px;
  }
}

.hero__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
@media screen and (min-width: 834px) {
  .hero__soc-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: end;
        align-self: end;
  }
}

.hero__soc-link {
  fill: #ffffff;
}

.about {
  max-width: 375px;
  margin: 0 auto;
  padding-top: 80px;
  background-color: #141a19;
}
@media screen and (min-width: 834px) {
  .about {
    max-width: 834px;
    padding-top: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .about {
    max-width: 1440px;
  }
}

.about__container {
  background-image: url("../images/about/map-mobile@1x.png");
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__container {
    background-image: url("../images/about/map-mobile@2x.png");
    background-size: contain;
  }
}
@media screen and (min-width: 834px) {
  .about__container {
    background-image: url("../images/about/map-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 245px;
  }
}
@media screen and (min-width: 834px) and (min-device-pixel-ratio: 2), screen and (min-width: 834px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 834px) and (min-resolution: 192dpi), screen and (min-width: 834px) and (min-resolution: 2dppx) {
  .about__container {
    background-image: url("../images/about/map-tablet@2x.png");
  }
}
@media screen and (min-width: 1440px) {
  .about__container {
    background-image: url("../images/about/map-desktop@1x.png");
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .about__container {
    background-image: url("../images/about/map-desktop@2x.png");
  }
}
.title {
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 834px) {
  .title {
    font-size: 64px;
    margin-bottom: 64px;
  }
}
.about__text-box {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 834px) {
  .about__text-box {
    grid-template-columns: repeat(2, 369px);
    grid-template-rows: repeat(2, auto);
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .about__text-box {
    grid-template-columns: repeat(2, 496px);
  }
}

@media screen and (max-width: 833px) {
  .about__text-box {
    row-gap: 32px;
  }
}
.about__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 0;
}

@media screen and (min-width: 834px) {
  .about__text:last-of-type {
    margin-top: 22px;
  }
}
.about__text:first-of-type {
  grid-row: 1/4;
}

.tours {
  max-width: 375px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 43px;
  background-color: #141a19;
}
@media screen and (min-width: 834px) {
  .tours {
    max-width: 834px;
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .tours {
    max-width: 1440px;
  }
}

.tours__container {
  padding-inline: 0;
}

@media screen and (min-width: 1440px) {
  .tour__info-wrapper {
    width: 510px;
  }
}
.tour__title {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.01em;
  margin: 16px 0;
}
@media screen and (min-width: 834px) {
  .tour__title {
    font-size: 32px;
    margin: 40px 0 24px 0;
  }
}
@media screen and (min-width: 1440px) {
  .tour__title {
    margin: 64px 0 32px 0;
    width: 510px;
  }
}

@media screen and (min-width: 834px) {
  .tour__info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    margin-bottom: 39px;
  }
}
@media screen and (min-width: 834px) and (min-width: 1440px) {
  .tour__info-block {
    display: block;
  }
}
.tour__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 18px;
  padding-left: 20px;
}

.tour__info-list > li {
  list-style-type: disc;
}

.tour__info-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 834px) {
  .tour__info-text {
    width: 496px;
    margin-bottom: 0;
  }
}

.tour__included-title {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
}

.tour__list {
  margin-bottom: 32px;
}

.tour__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  fill: #ffffff;
}

.tour__item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 1440px) {
  .tour__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.tour__button-link {
  display: block;
  font-weight: 400;
  border-radius: 4px;
  text-align: center;
  padding: 16px 52px;
  width: 343px;
  height: 54px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #ffffff;
  background-color: #394014;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (min-width: 834px) {
  .tour__button-link {
    width: 169px;
    height: 54px;
  }
}
@media screen and (min-width: 1440px) {
  .tour__button-link {
    margin-right: 38px;
  }
}

@media screen and (max-width: 1439px) {
  .tour__price,
  .tour__cost {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .tour__price,
  .tour__cost {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.01em;
    margin-bottom: 0;
  }
}
.tour__price {
  margin-right: 72px;
}

/* Slick */
.my-slick-prev,
.my-slick-next {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  cursor: pointer;
  font-weight: 900;
  font-size: 36px;
  line-height: 1;
  border: none;
  background-color: transparent;
}

.my-slick-prev {
  bottom: -45px;
  left: 16px;
  width: 114px;
  height: 45px;
  z-index: 10;
}
@media screen and (min-width: 834px) {
  .my-slick-prev {
    width: 144px;
    left: 153px;
    bottom: -75px;
  }
}

.my-slick-next {
  right: 16px;
  width: 114px;
  height: 45px;
}
@media screen and (min-width: 834px) {
  .my-slick-next {
    width: 144px;
    right: 153px;
    bottom: -75px;
  }
}

.slick_arrow {
  width: 114px;
  height: 30px;
  fill: #ffffff;
}
@media screen and (min-width: 834px) {
  .slick_arrow {
    width: 144px;
  }
}

.slick__image {
  border-radius: 4px;
}
@media screen and (min-width: 1440px) {
  .slick__image {
    width: 704px;
    margin-right: 32px;
  }
}/*# sourceMappingURL=main.css.map */