/* Utils */
/* Base */
/* Base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jomolhari", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  background-color: #141a19;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Components */
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 834px) {
  .container {
    max-width: 834px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* Layout */
.header {
  position: absolute;
  width: 100%;
}

.header-container {
  max-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 16px 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 834px) {
  .header-container {
    max-width: 834px;
    padding: 16px 32px 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #ffffff;
  background-color: transparent;
  cursor: pointer;
  width: 64px;
  height: 46px;
}

.header__logo-svg {
  padding: 0;
  width: 64px;
  height: 46px;
}

.burger-menu-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 834px) {
  .burger-menu-open {
    display: none;
  }
}

.icon-burger-open {
  width: 40px;
  height: 40px;
  stroke: #ffffff;
}

/* Navigation */
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
@media screen and (min-width: 1440px) {
  .nav__list {
    gap: 64px;
  }
}

@media screen and (max-width: 833px) {
  .nav__list {
    display: none;
  }
}
@media screen and (min-width: 834px) {
  .nav__link {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
}
.hero__container {
  max-width: 375px;
  min-height: 812px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #141a19;
  padding-top: 261px;
  padding-bottom: 32px;
  background-image: url("../images/hero/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: url("../images/hero/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 834px) {
  .hero__container {
    max-width: 834px;
    min-height: 1008px;
    padding-top: 358px;
    padding-bottom: 64px;
    background-image: url("../images/hero/hero-tablet@1x.jpg");
  }
}
@media screen and (min-width: 834px) and (min-device-pixel-ratio: 2), screen and (min-width: 834px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 834px) and (min-resolution: 192dpi), screen and (min-width: 834px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: url("../images/hero/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1440px) {
  .hero__container {
    max-width: 1440px;
    min-height: 800px;
    padding-top: 296px;
    padding-bottom: 100px;
    background-image: url("../images/hero/hero-desktop@1x.jpg");
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: url("../images/hero/hero-desktop@2x.jpg");
  }
}
.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  margin-bottom: 64px;
}
@media screen and (min-width: 834px) {
  .hero__title {
    font-size: 128px;
  }
}

.hero__title > span {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
}
@media screen and (min-width: 834px) {
  .hero__title > span {
    font-size: 48px;
  }
}

.hero__title::after {
  content: "Ukraine";
  font-weight: 400;
  font-size: 64px;
  line-height: 140%;
  letter-spacing: 0.01em;
  background: linear-gradient(2deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: rotateX(180deg) translateY(-136px);
          transform: rotateX(180deg) translateY(-136px);
  opacity: 0.3;
  position: absolute;
}
@media screen and (min-width: 834px) {
  .hero__title::after {
    font-size: 128px;
    -webkit-transform: rotateX(180deg) translateY(-265px);
            transform: rotateX(180deg) translateY(-265px);
  }
}

.hero__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding: 12px 52px;
  width: 174px;
  height: 48px;
  background-color: #394014;
  margin-bottom: 225px;
}
@media screen and (min-width: 834px) {
  .hero__link {
    z-index: 1;
    height: 54px;
    padding: 16px 52px;
    margin-bottom: 135px;
  }
}

.hero__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
@media screen and (min-width: 834px) {
  .hero__soc-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: end;
        align-self: end;
  }
}

.hero__soc-link {
  fill: #ffffff;
}

.about {
  max-width: 375px;
  margin: 0 auto;
  padding-top: 80px;
  background-color: #141a19;
}
@media screen and (min-width: 834px) {
  .about {
    max-width: 834px;
    padding-top: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .about {
    max-width: 1440px;
  }
}

.about__container {
  background-image: url("../images/about/map-mobile@1x.png");
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__container {
    background-image: url("../images/about/map-mobile@2x.png");
    background-size: contain;
  }
}
@media screen and (min-width: 834px) {
  .about__container {
    background-image: url("../images/about/map-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 245px;
  }
}
@media screen and (min-width: 834px) and (min-device-pixel-ratio: 2), screen and (min-width: 834px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 834px) and (min-resolution: 192dpi), screen and (min-width: 834px) and (min-resolution: 2dppx) {
  .about__container {
    background-image: url("../images/about/map-tablet@2x.png");
  }
}
@media screen and (min-width: 1440px) {
  .about__container {
    background-image: url("../images/about/map-desktop@1x.png");
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .about__container {
    background-image: url("../images/about/map-desktop@2x.png");
  }
}
.title {
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 834px) {
  .title {
    font-size: 64px;
    margin-bottom: 64px;
  }
}
.about__text-box {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 834px) {
  .about__text-box {
    grid-template-columns: repeat(2, 369px);
    grid-template-rows: repeat(2, auto);
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .about__text-box {
    grid-template-columns: repeat(2, 496px);
  }
}

@media screen and (max-width: 833px) {
  .about__text-box {
    row-gap: 32px;
  }
}
.about__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 0;
}

@media screen and (min-width: 834px) {
  .about__text:last-of-type {
    margin-top: 22px;
  }
}
.about__text:first-of-type {
  grid-row: 1/4;
}

.tours {
  max-width: 375px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 115px;
  background-color: #141a19;
}
@media screen and (min-width: 834px) {
  .tours {
    max-width: 834px;
    padding-top: 100px;
    padding-bottom: 135px;
  }
}
@media screen and (min-width: 1440px) {
  .tours {
    max-width: 1440px;
    padding-bottom: 100px;
  }
}

.tours__container {
  padding-inline: 0;
}

@media screen and (min-width: 1440px) {
  .tour__info-wrapper {
    width: 510px;
  }
}
.tour__title {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.01em;
  margin: 16px 0;
}
@media screen and (min-width: 834px) {
  .tour__title {
    font-size: 32px;
    margin: 40px 0 24px 0;
  }
}
@media screen and (min-width: 1440px) {
  .tour__title {
    margin: 106px 0 32px 0;
    width: 510px;
  }
}

@media screen and (min-width: 834px) {
  .tour__info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    margin-bottom: 39px;
  }
}
@media screen and (min-width: 834px) and (min-width: 1440px) {
  .tour__info-block {
    display: block;
  }
}
.tour__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 18px;
  padding-left: 20px;
}

.tour__info-list > li {
  list-style-type: disc;
}

.tour__info-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 834px) {
  .tour__info-text {
    width: 496px;
    margin-bottom: 0;
  }
}

.tour__included-title {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
}

.tour__list {
  margin-bottom: 32px;
}

.tour__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  fill: #ffffff;
}

.tour__item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 1440px) {
  .tour__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.tour__button-link {
  display: block;
  font-weight: 400;
  border-radius: 4px;
  text-align: center;
  padding: 16px 52px;
  width: 343px;
  height: 54px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #ffffff;
  background-color: #394014;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (min-width: 834px) {
  .tour__button-link {
    width: 169px;
    height: 54px;
  }
}
@media screen and (min-width: 1440px) {
  .tour__button-link {
    margin-right: 38px;
  }
}

@media screen and (max-width: 1439px) {
  .tour__price,
  .tour__cost {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .tour__price,
  .tour__cost {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.01em;
    margin-bottom: 0;
  }
}
.tour__price {
  margin-right: 72px;
}

/* Slick */
.my-slick-prev,
.my-slick-next {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  cursor: pointer;
  font-weight: 900;
  font-size: 36px;
  line-height: 1;
  border: none;
  background-color: transparent;
}

.my-slick-prev {
  bottom: -55px;
  left: 16px;
  width: 114px;
  height: 45px;
  z-index: 10;
}
@media screen and (min-width: 834px) {
  .my-slick-prev {
    width: 144px;
    left: 153px;
    bottom: -75px;
  }
}
@media screen and (min-width: 1440px) {
  .my-slick-prev {
    left: 32px;
  }
}

.my-slick-next {
  bottom: -55px;
  right: 16px;
  width: 114px;
  height: 45px;
}
@media screen and (min-width: 834px) {
  .my-slick-next {
    width: 144px;
    right: 153px;
    bottom: -75px;
  }
}
@media screen and (min-width: 1440px) {
  .my-slick-next {
    right: 32px;
  }
}

.slick_arrow {
  width: 114px;
  height: 30px;
  fill: #ffffff;
}
@media screen and (min-width: 834px) {
  .slick_arrow {
    width: 144px;
  }
}

.slick__image {
  border-radius: 4px;
}
@media screen and (min-width: 1440px) {
  .slick__image {
    width: 704px;
    margin-right: 32px;
  }
}

.gallery {
  max-width: 375px;
  margin: 0 auto;
  background-color: #141a19;
  padding-bottom: 112px;
}
@media screen and (min-width: 834px) {
  .gallery {
    max-width: 834px;
    padding-bottom: 164px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery {
    max-width: 1440px;
  }
}

.gallery__item {
  margin-right: 16px;
}

.slick__box {
  border-radius: 6px;
}

.reviews {
  max-width: 375px;
  margin: 0 auto;
  padding-bottom: 64px;
}
@media screen and (min-width: 834px) {
  .reviews {
    max-width: 834px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews {
    max-width: 1440px;
  }
}

.reviews__item {
  padding: 32px;
  width: 343px;
  height: 343px;
  border-radius: 4px;
  border: 1px solid #ffffff;
}
@media screen and (min-width: 834px) {
  .reviews__item {
    width: 320px;
    height: 352px;
    margin-right: 32px;
  }
}

.reviews__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}

.reviews__avatar {
  border-radius: 50%;
}

.reviews__name {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
  margin-bottom: 11px;
}
@media screen and (min-width: 834px) {
  .reviews__name {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

.reviews__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  fill: #ae990b;
}

.reviews__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 0;
}

.start {
  max-width: 375px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (min-width: 834px) {
  .start {
    max-width: 834px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .start {
    max-width: 1440px;
  }
}

.start > .container {
  padding-inline: 0;
}

.start__background {
  background-image: url("../../images/start/start-mobile-@1x.jpg");
  width: 375px;
  height: 800px;
  padding-top: 54px;
  padding-bottom: 54px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .start__background {
    background-image: url("../../images/start/start-mobile-@2x.jpg");
  }
}
@media screen and (min-width: 834px) {
  .start__background {
    background-image: url("../../images/start/start-tablet@1x.jpg");
    width: 602px;
    height: 786px;
    padding: 135px 32px;
  }
}
@media screen and (min-width: 834px) and (min-device-pixel-ratio: 2), screen and (min-width: 834px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 834px) and (min-resolution: 192dpi), screen and (min-width: 834px) and (min-resolution: 2dppx) {
  .start__background {
    background-image: url("../../images/start/start-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1440px) {
  .start__background {
    background-image: url("../../images/start/start-desktop@1x.jpg");
    width: 704px;
    height: 840px;
    padding: 135px 32px 135px 376px;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .start__background {
    background-image: url("../../images/start/start-desktop@2x.jpg");
  }
}
.start__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  padding: 40px 16px;
  background-color: #141a19;
}
@media screen and (min-width: 834px) {
  .start__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 770px;
    height: 516px;
    padding: 64px 48px;
    border: 1px solid #ffffff;
    border-radius: 4px;
  }
}
@media screen and (min-width: 1440px) {
  .start__wrapper {
    width: 1032px;
    height: 570px;
    padding: 92px 180px;
  }
}

.start__title {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
}

.start__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
}
@media screen and (min-width: 834px) {
  .start__description {
    width: 320px;
  }
}

.start__description:last-child {
  margin-bottom: 0;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
}

.form__label {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.form__input {
  border: 1px solid #ffffff;
  padding: 14px 12px;
  width: 343px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-color: #141a19;
  color: #b9b9b9;
  outline: none;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 834px) {
  .form__input {
    width: 320px;
  }
}

.form__input:focus {
  border: 1px solid #394014;
}

.form__textarea {
  border: 1px solid #ffffff;
  padding: 14px 12px;
  width: 343px;
  height: 102px;
  font-family: "Lato", sans-serif;
  background-color: #141a19;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #b9b9b9;
  margin-bottom: 32px;
  outline: none;
  resize: none;
}
@media screen and (min-width: 834px) {
  .form__textarea {
    width: 320px;
  }
}

.form__textarea:focus {
  border: 1px solid #394014;
}

.form__button {
  padding: 16px 52px;
  width: 343px;
  height: 54px;
  background-color: #394014;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 834px) {
  .form__button {
    width: 320px;
  }
}

.footer {
  max-width: 375px;
  margin: 0 auto;
  padding: 16px 0;
}
@media screen and (min-width: 834px) {
  .footer {
    max-width: 834px;
    padding: 32px 0 16px;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1440px;
  }
}

@media screen and (min-width: 834px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 64px;
  }
}
.footer__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #ffffff;
  background-color: transparent;
  cursor: pointer;
  width: 127px;
  height: 90px;
  margin-bottom: 32px;
}
@media screen and (min-width: 834px) {
  .footer__logo-link {
    width: 169px;
    height: 125px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .footer__logo-link {
    width: 260px;
    height: 168px;
  }
}

.footer__logo-icon {
  width: 127px;
  height: 90px;
  padding: 0;
}
@media screen and (min-width: 834px) {
  .footer__logo-icon {
    width: 169px;
    height: 125px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__logo-icon {
    width: 260px;
    height: 168px;
  }
}

.footer__nav {
  margin-bottom: 32px;
}
@media screen and (min-width: 834px) {
  .footer__nav {
    margin-bottom: 0;
  }
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 834px) {
  .footer__nav-list {
    gap: 16px;
  }
}

.footer__nav-link {
  font-weight: 400;
  letter-spacing: 0.01em;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
@media screen and (min-width: 834px) {
  .footer__nav-link {
    font-size: 18px;
  }
}

@media screen and (min-width: 834px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    gap: 40px;
  }
}
.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}
@media screen and (min-width: 834px) {
  .address__list {
    gap: 16px;
    margin-bottom: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

.address__link {
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
}
@media screen and (min-width: 834px) {
  .address__link {
    font-size: 18px;
  }
}

.footer__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  width: 102px;
  margin-bottom: 64px;
}
@media screen and (min-width: 834px) {
  .footer__soc-list {
    margin-bottom: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

.footer__soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #ffffff;
  cursor: pointer;
}

.footer__text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 0;
}
@media screen and (min-width: 834px) {
  .footer__text {
    font-size: 14px;
  }
}

#scrollToTop {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: none;
  cursor: pointer;
  z-index: 20;
  opacity: 0.4;
}

.scroll-up {
  fill: #ae990b;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  padding: 16px 16px 200px;
  width: 100%;
  height: 100%;
  background-image: url("../../images/mobile-menu/mobile-menu@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  background-color: #141a19;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}
.mobile-menu.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.mobile-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-menu .mobile-menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 198px;
}
.mobile-menu .mobile-menu__close {
  position: absolute;
  top: 19px;
  right: 16px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mobile-menu .icon-burger-close {
  stroke: #ffffff;
}
.mobile-menu .mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile-menu .mobile__item:not(:last-child) {
  margin-bottom: 16px;
}
.mobile-menu .mobile__link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #ffffff;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mobile-menu {
    background-image: url("../../images/mobile-menu/mobile-menu@2x.jpg");
  }
}/*# sourceMappingURL=main.css.map */