.footer {
  max-width: 375px;
  margin: 0 auto;
  padding: 16px 0;
}

.footer__logo-link {
  display: flex;
  align-items: center;
  fill: $colorWhite;
  background-color: transparent;
  cursor: pointer;
  width: 127px;
  height: 90px;
  margin-bottom: 32px;
}

.footer__logo-icon {
  width: 127px;
  height: 90px;
  padding: 0;
}

.footer__nav {
  margin-bottom: 32px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__nav-link {
  font-weight: 400;
  letter-spacing: 0.01em;
  text-decoration: none;
  cursor: pointer;
  color: $colorWhite;
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.address__link {
  font-weight: 400;
  letter-spacing: 0.01em;
  color: $colorWhite;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
}

.footer__soc-list {
    display: flex;
    gap: 15px;
}

.footer__soc-link {
    fill: $colorWhite;
    cursor: pointer;
}