.footer {
  max-width: 375px;
  margin: 0 auto;
  padding: 16px 0;

  @media screen and (min-width: 834px) {
    max-width: 834px;
    padding: 32px 0 16px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

@media screen and (min-width: 834px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
  }
}

.footer__logo-link {
  display: flex;
  align-items: center;
  fill: $colorWhite;
  background-color: transparent;
  cursor: pointer;
  width: 127px;
  height: 90px;
  margin-bottom: 32px;

  @media screen and (min-width: 834px) {
    width: 169px;
    height: 125px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1440px) {
    width: 260px;
    height: 168px;
  }
}

.footer__logo-icon {
  width: 127px;
  height: 90px;
  padding: 0;

  @media screen and (min-width: 834px) {
    width: 169px;
    height: 125px;
  }

  @media screen and (min-width: 1440px) {
    width: 260px;
    height: 168px;
  }
}

.footer__nav {
  margin-bottom: 32px;

  @media screen and (min-width: 834px) {
    margin-bottom: 0;
  }
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: 834px) {
    gap: 16px;
  }
}

.footer__nav-link {
  font-weight: 400;
  letter-spacing: 0.01em;
  text-decoration: none;
  cursor: pointer;
  color: $colorWhite;

  @media screen and (min-width: 834px) {
    font-size: 18px;
  }
}

@media screen and (min-width: 834px) {
  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 40px;
  }
}

.address__list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
  margin-bottom: 32px;

  @media screen and (min-width: 834px) {
    gap: 16px;
    margin-bottom: 0;
  }
}

.address__link {
  font-weight: 400;
  letter-spacing: 0.01em;
  color: $colorWhite;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;

  @media screen and (min-width: 834px) {
    font-size: 18px;
  }
}

.footer__soc-list {
  display: flex;
  gap: 15px;
  width: 102px;
  margin-bottom: 64px;

  @media screen and (min-width: 834px) {
    margin-bottom: 0;
    align-items: end;
  }
}

.footer__soc-link {
  display: flex;
  align-items: center;
  fill: $colorWhite;
  cursor: pointer;
}

.footer__text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 0;

  @media screen and (min-width: 834px) {
    font-size: 14px;
  }
}
