.header {
  position: absolute;
  width: 100%;
}

.header-container {
  max-width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 0 16px;
  margin: 0 auto;

  @media screen and (min-width: 834px) {
    max-width: 834px;
    padding: 16px 32px 0 32px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  fill: $colorWhite;
  background-color: transparent;
  cursor: pointer;
  width: 64px;
  height: 46px;
}

.header__logo-svg {
  padding: 0;
  width: 64px;
  height: 46px;
}

.burger-menu-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 834px) {
    display: none;
  }
}

.icon-burger-open {
  width: 40px;
  height: 40px;
  stroke: $colorWhite;
}

/* Navigation */
.nav__list {
  display: flex;
  align-items: center;
  gap: 32px;

  @media screen and (min-width: 1440px) {
    gap: 64px;
  }
}

@media screen and (max-width: 833px) {
  .nav__list {
    display: none;
  }
}

@media screen and (min-width: 834px) {
  .nav__link {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: $colorWhite;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.25s linear;

    &:hover,
    &:focus {
      color: $colorStars;
    }
  }
}
