#scrollToTop {
  position: fixed;
  bottom: 28px;
  left: 75%;
  display: none;
  cursor: pointer;
  z-index: 20;
  opacity: 0.3;

  @media (min-width: 1440px) {
    left: 81%;
  }
}

.scroll-up {
  fill: $colorStars;
}
