.start {
  max-width: 375px;
  margin: 0 auto;
  background-color: $colorBg;
  padding-top: 80px;

  @media screen and (min-width: 834px) {
    max-width: 834px;
    padding-top: 100px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.start > .container {
  padding-inline: 0;
}

.start__background {
    background-image: url('../../images/start/start-mobile-@1x.jpg');
    width: 375px;
    height: 800px;
    padding-top: 54px;
    padding-bottom: 54px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
