.tours {
  max-width: 375px;
  margin: 0 auto;
  padding-top: 80px;
  background-color: $colorBg;

  @media screen and (min-width: 834px) {
    max-width: 834px;
    padding-top: 100px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.tours__container {
  padding-inline: 0;
}

.tour__title {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.01em;
  margin: 16px 0;
}

.tour__info-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.tour__included-title {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
}

.tour__list {
  margin-bottom: 32px;
}

.tour__item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  fill: $colorWhite;
}

.tour__item:not(:last-child) {
  margin-bottom: 9px;
}

.tour__button-link {
  display: block;
  font-weight: 400;
  border-radius: 4px;
  text-align: center;
  padding: 16px 52px;
  width: 343px;
  height: 54px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: $colorWhite;
  background-color: $colorBut;
  text-decoration: none;
  cursor: pointer;
}

.my-slick-prev,
.my-slick-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 50px;
  height: 5px;
  cursor: pointer;
  font-weight: 900;
  font-size: 36px;
  line-height: 1;
  border: none;
  background-color: transparent;
}

  .slick_arrow {
    width: 114px;
    height: 30px;
  }
