/* Base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jomolhari", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: $colorWhite;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}